/*CONTACT FORM SECTION*/
section {
    width: 50%;
    float: left;
    border-right: 2px solid #000;
    box-sizing: border-box;
}

.contact-form-wrapper {
    padding-left: 100px;
    margin-top: 50px;
}

.contact-form-wrapper iframe {
    width: 80%;
    height: 650px;
}

.map-wrapper iframe {
    width: 500px;
    height: 460px;
    margin-top: 50px;
    margin: 0 auto;
}